---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Menu from "../../components/Menu.jsx";
import Gallery from "../../components/Gallery.astro";
import Greeting from "../../sections/aboutme/Greeting.astro";
import Facts from "../../sections/aboutme/Facts.astro";
import Memory from "../../sections/aboutme/Memory.astro";
import SimplyPaper from "../../sections/aboutme/SimplyPaper.astro";
import Traveling from "../../sections/aboutme/Traveling.astro";
import Hobbies from "../../sections/aboutme/Hobbies.astro";
---

<Layout title="Victor Alvarado | About Me">
    <div class="container">
        <div class="breadcrumbs-section">
            <a class="" onclick="history.back()">
                <svg xmlns="http://www.w3.org/2000/svg"
                ><path
                        d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                ></path>
                </svg><span>Go back</span>
            </a>
        </div>
    </div>
    <Header title="About Me And My Journey" description=" Welcome to my personal website." showContact={false}/>
    <main class="about">
        <!--SECTION - ABOUT ME AND GREETING -->
        <Greeting />

        <!--SECTION - FACTS ABOUT ME-->
        <Facts />

        <!--SECTION - MEMORY PICTURE-->
        <Memory />

        <!--SECTION - SIMPLY PAPER-->
        <SimplyPaper />

        <!--SECTION - ABOUT TRAVEL-->
        <Traveling />

        <!--SECTION - ABOUT HOBBIES-->
        <Hobbies />
    </main>
</Layout>

<style>
    .in-line {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
    .about img {
        /*border-radius: 1rem;*/
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    ul li {
        margin-bottom: 1rem;
    }
</style>