---

---

<section class="container mb-12">
    <h2>
        Interesting facts about how I started in this world:
    </h2>
    <ul>
        <li>
            My first contact with a computer was at 11 years old.
        </li>
        <li>
            The first thing I learned was play Age of Empires II.
        </li>
        <li>
            In 2004, I moved to the city, and that same year we got our first computer at home.
        </li>
        <li>
            That same year, I took apart a computer for the first time without knowing how to put it back together. Everything turned out fine! :)
        </li>
        <li>
            I learned how a computer works and how to assemble and disassemble it.
        </li>
        <li>
            I learned how to install Windows XP and format a computer.
        </li>
        <li>
            I dedicated myself to repairing the computers of my friends and neighbors.
        </li>
        <li>
            During the hype of hi5.com, I learned HTML and CSS to customize my profile and my friends' profiles. It could say it was my first encounter with web development.
        </li>
        <li>
            In 2010, I discovered Linux and fell in love with Ubuntu. I learned everything about it.
        </li>
        <li>
            In 2011, I started a YouTube channel to share my knowledge about Ubuntu and Linux. Unfortunately, I stopped making videos. :(
        </li>
        <li>
            In 2012, with the rise of smartphones, I got interested in Android and started collaborating with the XDA Developers community.
        </li>
        <li>
            In 2012, I studied a diploma in Graphic Design.
        </li>
        <li>
            In 2013, I started studying Information Technology Engineering at Jose Cecilio Del Valle University.
        </li>
    </ul>
</section>