---
import vic1 from '@assets/images/about/vic1.webp';
import {Image} from "astro:assets";
---
<section class="container mb-12">
    <div class="profile-section">
        <Image class="profile-picture" src={vic1} alt="cover of victor alvarado" loading={"eager"}/>
        <div>
            <p>
                🤚🏻 Hi again! I'm Victor Alvarado, a Software Engineer, and Full Stack Developer. I'm from Honduras 🇭🇳,
                a
                small
                country in Central America.
            </p>
            <p>
                I've been working as a software engineer for more than 7 years. <!--and I've had the opportunity to work
                        with many
                        companies around the world.-->
            </p>
            <p>In all these years I've learned a lot, I have worked with many languages and technologies. <!--in different
                        projects, in different areas, and with different teams.-->
                I have worked as UI Designer, Frontend Developer, Backend Developer, Android Developer, and Full
                Stack
                Developer.
            </p>
        </div>
    </div>

    <p>
        Yes, I know! Maybe it's too much, but, you know what? I love it.
        And probably you are wondering, why do I have so many titles? Well, I think that the best way to learn
        is to do
        it, and I have always been curious to learn new things.
        I don't consider my self an expert in any of these areas, but I have a lot of experience in each of
        them.
        I have learned a lot from my mistakes, and I have learned a lot from my successes.
    </p>
    <p class="text-highlight">
        But, hey! I know that sometimes we have to settle down and focus on one thing, and that's why I'm
        currently
        working
        as a Full Stack Developer using technologies like <b>Next.Js, Astro Build, FireBase, MongoDB and,
        MySql</b>.
    </p>
</section>

<style>
    .profile-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-direction: column; /* Default to column for mobile */
    }

    .profile-picture {
        width: 150px;
        height: auto;
        filter: sepia(1);
        margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
        .profile-section {
            flex-direction: row; /* Change to row for desktop */
        }

        .profile-picture {
            width: 300px;
        }
    }
</style>