---

---

<section class="container mb-12">
    <h2>
        Not everything is about work and coding:
    </h2>
    <p>
        When I’m not in front of a computer, I try to spend as much time outside as possible.
    </p>
    <ul>
        <li>
            I love to travel and explore new places.
        </li>
        <li>
            I love to hike and climb mountains.
        </li>
        <li>
            I love to take photos and make videos.
        </li>
        <li>
            I love to read books and listen to music.
        </li>
        <li>
            Recently, I bought a drone and I'm learning how to fly it.
        </li>
    </ul>
</section>