---
import {Image} from "astro:assets";
import spAdd from '@assets/images/about/publi_ingles.webp';
import spShow from '@assets/images/about/spaper.gif';
---

<section class="container mb-12">
    <h2>
        The breaking changes in my life as a Software Engineer:
    </h2>
    <Image src={spAdd} alt="" width={800}/>
    <p>
        While I was studying at the university, I fell in love with programming, and I started to learn more
        about it.
        I started to learn C++, Java and how to create Android apps, and I started to work on small projects
        called Simply Paper.
    </p>
    <p>
        Simply Paper was a project where I shared self-made wallpapers for Android devices, and I learned a lot
        about Android development.
        This simple application gave me the opportunity to apply for a job as an Android Developer at a local
        company. After that, my career as a Software Engineer started to grow, and I started to work with many
        companies
        around the world
    </p>
    <Image src={spShow} alt="" width={800}/>
    <p>
        <i>Simply Paper is down now, but I still have the wallpapers hosted on Flickr. You can check them out if
            you want.</i>
    </p>
    <div class="in-line">
        <button class="button-custom">
            <a target="_blank" href="https://www.flickr.com/photos/134427773@N06/with/25694820412">
                Simply Paper Gallery
            </a>
        </button>
        <button class="button-custom">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dev.victor.spaper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4.00098 1.73438C4.17692 1.73438 4.34975 1.7808 4.50201 1.86895L20.5061 11.1345C20.9841 11.4112 21.1473 12.023 20.8705 12.501C20.783 12.6522 20.6574 12.7778 20.5061 12.8654L4.50201 22.1309C4.02405 22.4076 3.41226 22.2445 3.13555 21.7665C3.0474 21.6143 3.00098 21.4414 3.00098 21.2655V2.73438C3.00098 2.18209 3.44869 1.73438 4.00098 1.73438ZM12.2931 13.4132L7.79498 17.9124L13.494 14.6134L12.2931 13.4132ZM4.99998 6.11938V17.8784L10.8791 11.9992L4.99998 6.11938ZM15.284 10.4214L13.7071 11.9992L15.285 13.5764L18.009 11.9999L15.284 10.4214ZM7.79398 6.08537L12.2931 10.5852L13.493 9.38437L7.79398 6.08537Z"></path></svg>
            </a>
        </button>
    </div>
</section>

<style>
    .in-line {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
</style>