---

import Gallery from "@components/Gallery.astro";
---

<section class="container mb-12">
    <h2>
        The decision that changed my life:
    </h2>
    <p>
        After realized that I was working too much and I was not happy with my life, I decided to move to
        Dublin, Ireland to improve my English and live new experiences. This journey has changed my life in many
        ways.
    </p>
    <ul class="mb-12">
        <li>
            I improved my English a lot.
        </li>
        <li>
            I met many wonderful people from different countries.
        </li>
        <li>
            I learned a lot about different cultures.
        </li>
        <li>
            I learned a lot about myself.
        </li>
        <li>
            I learned a lot about life.
        </li>
        <li>
            I traveled a lot around Europe.
        </li>
        <li>
            I joined a developers community called <b><a target="_blank"
                                                         href="https://www.codu.co/">Codú</a></b> in Dublin.
        </li>
        <li>
            I discovered that I love to teach and share my knowledge with others.
        </li>
        <li>
            I discovered a special love and passion for mountains.
        </li>
    </ul>
    <Gallery/>
</section>