:root {
    --color-bg: #F8F6F5;
    --color-highlight: #1a1a1a;
    --color-text: #333333;
    --color-titles: #1a1a1a;
    --color-primary: #00a651;

    --font-sans: "Roboto Mono", monospace;
    --font-serif: "Roboto Mono", monospace;
    --font-size: 16px;
    --font-s: 14px;
    --font-xs: 12px;
    --font-xxs: 10px;
    --font-size-l: 18px;
    --spacing: 1.5em;
    --spacing-s: calc(0.5 * var(--spacing));
    --spacing-xs: calc(0.25 * var(--spacing));
    --spacing-xxs: calc(0.125 * var(--spacing));
    --spacing-m: var(--spacing);
    --spacing-l: calc(1.5 * var(--spacing));
    --spacing-xl: calc(2.5 * var(--spacing));
    --spacing-xxl: calc(5 * var(--spacing));
    --spacing-col: calc(12 * var(--spacing));
    --spacing-width-max: 38rem;
    --spacing-width-tiny: 15rem;
    --spacing-width-xl: 50rem;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #2b2c2c;
        --color-highlight: #e3e3e3;
        --color-text: #afadad;
        --color-titles: #e3e3e3;
        --color-primary: #00a651;
    }
}
html {
    color: var(--color-text);
    font-family: "Roboto Mono", monospace;
    font-size: var(--font-size);
    background-color: var(--color-bg);
}
body {
    margin: 5vw 0;
    line-height: 1.5;
    padding: 1rem;
    background-color: var(--color-bg);
}
code {
    font-family: "Roboto Mono", monospace;
}
address {
    font-style: normal;
}
b {
    color: #00a651;
}
h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}
h2 {
    margin: var(--spacing-m) 0;
}
h1, h2, h3 {
    font-weight: 500;
    margin: var(--spacing-s) 0;
    color: var(--color-titles);
}

h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.55rem;
}
h4 {
    font-size: 1.125rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.875rem;
}

ul li {
    margin-bottom: 1rem;
}

p, ol, ul, span {
    font-family: var(--font-serif), serif;
    font-weight: normal;
    margin: 1em 0;
    font-size: var(--font-size);
    font-feature-settings: 'onum' 1;
}
a {
    color: var(--color-highlight);
    text-decoration-color: var(--color-highlight);
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.05em;
}
a:hover {
    transition: color 0.2s ease-in;
    color: var(--color-text);
}

a {
    text-underline-offset: 8px;
    text-decoration-style: dashed;
    text-decoration-line: underline;
}

a.disabled, .menu a.disabled {
    pointer-events: none !important;
    cursor: default !important;
    color: gray !important;
    text-decoration: none !important;
    display: inline-block;
}



.text-highlight {
    color: var(--color-highlight);
}

main {
    padding-bottom: var(--spacing-s);
}

{/* Sections */}
section {
    margin-bottom: var(--spacing-xl);
}

section h2 {
    margin: var(--spacing-m) 0;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.breadcrumbs-section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /*padding-top: 5vh;*/
}
.breadcrumbs-section a {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    /*color: var(--color-text);*/
    cursor: pointer;
    margin: 0;
}

.breadcrumbs-section svg {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    fill:  var(--color-text);
}

.breadcrumbs-section a:hover svg {
    transition: fill 0.2s ease-in;
    fill: var(--color-highlight);
}

.border-bottom {
    border-bottom: solid 1px #555555;
}

/*MARGINS*/
.mb-4 {
    margin-bottom: 1rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.mb-12 {
    margin-bottom: 3rem;
}

.mt-4 {
    margin-top: 1rem;
}
.mt-6 {
    margin-top: 1.5rem;
}
.mt-8 {
    margin-top: 2rem;
}
.mt-12 {
    margin-top: 3rem;
}

.menu {
    color: var( --color-text);
    background-color: rgb(28 29 29);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}

.menu, .menu a {
    color: rgb(248, 246, 245,1);
}

.menu-bar {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity));
    padding: .5rem .75rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(248, 246, 245,1);
}

.menu-bar p, .menu-bar span {
    margin: 0;
}

.menu-bar svg {
    width: 20px;
    height: 20px;
}

button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    font: inherit;
    color: inherit;
}

.button-custom {
    color: white;
    background-color: #03a651;
    font-weight: 500; /* font-medium */
    border-radius: 0.5rem; /* rounded-lg */
    font-size: 0.875rem; /* text-sm */
    padding: 0.625rem;
    align-items: center; /* items-center */
    margin-right: 0.5rem; /* me-2 */
    outline: none;
}

.button-custom:hover {
    background-color: #038e45; /* hover:bg-blue-800 */
}

.button-custom:focus {
    ring: 4px; /* focus:ring-4 */
    ring-color: #05cf66; /* focus:ring-blue-300 */
}

.button-custom a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button-custom svg {
    width: 1.25rem; /* w-5 */
    height: 1.25rem; /* h-5 */
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.marquee {
    overflow: hidden;
}
.marquee p {
    display: inline-block;
    width: 100%;
    right: -100%;
    position: relative;
    animation: marquee 10s linear infinite;
}

blockquote, blockquote p {
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    line-height: 1.4;
    position: relative;
    margin: 0 0 2rem 0;
    padding: .5rem;
}

blockquote:before,
blockquote:after {
    position: absolute;
    color: #afadad;
    font-size: 6rem;
    width: 5rem;
    height: 3rem;
}

blockquote:before {
    content: '“';
    left: 0;
    top: -2rem;
}

blockquote:after {
    content: '”';
    right: 1rem;
    bottom: 1rem;
}

cite {
    line-height: 3;
    text-align: left;
}

.badge .icon {
    width: 1rem;
    height: 1rem;
    max-width: 14px;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
