---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import {profiles} from "../../data/profiles";
import Profiles from "../../components/Profiles.astro";
import Menu from "../../components/Menu.jsx";
import Footer from "../../components/Footer.astro";
---
<Layout title="Victor Alvarado | profiles and accounts">
    <!--Header-->
    <Header title="My Profiles" description="A list of my profiles in different platforms where I have things to share with you." showContact={true}/>
    <!--Main Content Wrapper-->
    <main transition:animate="fade">
        <!--Socials Profiles Section-->
        <section class="container border-bottom">
            <Profiles/>
        </section>
        <section class="container">
            <h2 class="section-title">What are you interested in knowing about me?</h2>
            <Menu
                    transition:name="menulog"
                    client:only="react"
                    description={"~ % MENU: Select the option you want to know more about me."}
            />
        </section>
    </main>
</Layout>