<h1>
    Hosting a website is a very important part of the web development
</h1>

<section>
    <h2>
        What is hosting?
    </h2>
    <p>
        Hosting is the process of making your website available to the world. It is the process of uploading your website to a server so that it can be accessed through the internet.
    </p>
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/852417445?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="LearningAIFast.com's Level 1 Decoding the Future"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</section>