---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Aboutme from "../components/Aboutme.astro";
import Menu from "../components/Menu.jsx";
import Alert from "../components/Alert.astro";
---

<Layout title="Victor Alvarado | Software Engineer">
    <!--Header-->
    <Header title="Victor Alvarado" description="Senior Product Engineer | Full-Stack AI Engineer" showContact={false}/>
    <!--Main Content Wrapper-->
    <main transition:animate="fade">
        <!--About Me Section-->
        <section class="container">
            <Aboutme/>
        </section>
    </main>
</Layout>

<style>
    .section-title {
        font-size: 1.75rem;
    }
</style>