---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Aboutme from "../components/Aboutme.astro";
import Menu from "../components/Menu.jsx";
import Alert from "../components/Alert.astro";
---

<Layout title="Victor Alvarado | Software Engineer">
    <!--Header-->
    <Header title="Victor Alvarado" description="SWE &amp; Full Stack Developer" showContact={true}/>
    <!--Main Content Wrapper-->
    <main transition:animate="fade">
        <!--About Me Section-->
        <section class="container">
            <h2 class="section-title"> Hi there! Welcome to my personal website.</h2>
            <Aboutme/>
        </section>
        <section class="container">
            <h2 class="section-title">What are you interested in knowing about me?</h2>
            <Menu
                    transition:name="menulog"
                    client:only="react"
                    description={"~ % Select the option you want to know more about me."}
            />
        </section>

        <section class="container">
            <Alert />
        </section>
    </main>
</Layout>

<style>
    .section-title {
        font-size: 1.2rem;
    }
</style>