---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Victor Alvarado - SR. Software Engineer">
    <section class="container">
        <span>Hi, I'm</span>
        <h1 class="section-title">Victor Alvarado</h1>
        <h2 class="section-title">Welcome to my personal website.</h2>
        <p>
            I'm working to improve the user experience for this website. At the same time I'll migrate from Astro 2.0 to
            Astro 4.0. Stay tuned for updates.
        </p>
    </section>
</Layout>

<style>
    span {
        display: inline-block;
    }
    h1 {
        display: inline-block;
        margin-left: 0.5rem;
        font-size: 1.35rem;
    }
</style>
