<p>
    Hello, I'm Victor Alvarado, a <b>skilled SWE, full-stack developer</b>, and designer with a passion for native
    Android development. With over <b>7 years of experience</b> in the software and design industries, I've
    worked with a variety of organizations around the world, including
    <a href="https://beanar.io/" target="_blank">Beanario Software</a>,
    <a href="https://ocho.life/" target="_blank">Ocho App</a>,
    <a href="https://www.aliatuniversidades.com.mx/aliat" target="_blank">Aliat</a>,
    <a href="https://www.bancatlan.hn/" target="_blank">Banco Atlántida</a>,
    <a href="https://www.buzzy.buzz/" target="_blank">Buzzy Company</a>,
    <a href="https://www.nspros.io/" target="_blank">Ns Pro's</a>
    , and many more. I am currently based in Ireland to improve my English skill.
    I have a strong passion for leveraging cutting-edge technologies, such as <b>Astro.Build, React.JS, Node.JS,
    MySql, Laravel, and Yii2 framework</b>, to develop web platforms that deliver exceptional user experiences.
</p>
<p>
    Over the years, I have worked on a variety of projects, from large organizations to small projects
    for startups and personal projects. This breadth of experience has equipped me with a wide range of
    skills and expertise across various project types, as well as experience working with teams of different
    sizes and goals.
</p>
<p>
    I also write and speak about code.
    You can catch up with me on Figma Community, Github or Linkedin.
</p>