---

---
<section id="juego">
    <h2>Play </h2>
    <iframe allowtransparency="true" style="background: #000000;"
            src="/game/index.html"
            width="100%"
            height="780px"
            frameborder="0"
            allowfullscreen
    ></iframe>
</section>